<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Generica</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
    <link rel="stylesheet" href="/css/scroll.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#opciones"
            style="margin-left: 10px">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- logo -->
        <a class="navbar-brand" href="#" style="margin-left: 10px">Tienda Virtual</a>
        <!-- enlaces -->
        <div class="collapse navbar-collapse" id="opciones">
            <ul class="navbar-nav" style="margin-left: 15px">
                <li class="nav-item">
                    <a class="nav-link" href="/productos" id="linkProductos">Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/clientes" id="linkClientes">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/proveedores" id="linkProveedores">Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ventas" id="linkVentas" >Ventas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="reportes.html">Reportes</a>
                </li>
            </ul>
        </div>
    </nav>
    <%- body %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>