.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

#bienvenida{
    --animate-duration: 4s;
}

